.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  text-decoration: none;
  color: white;
}
